---
export interface Props {
  id: number;
  title: string;
  author: string;
  price: number;
  genre: string;
  imageUrl: string;
  description: string;
}
const { title, author, price, genre, imageUrl, description, id } = Astro.props;
---

<div
  class="max-w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-5 mt-4"
>
  <a href={`/mangas/${id}`}>
    <img class="rounded-t-lg h-96 w-80" src={imageUrl} alt={title} />
  </a>
  <div class="flex flex-col">
    <a href={`/mangas/${id}`}>
      <h5
        class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <a
      href={`/mangas/${id}`}
      class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Compra ahora
    </a>
  </div>
</div>
